@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

/*==================================================================================================
Media Queries
==================================================================================================*/
@media only screen and (min-width: 40.063em) {
}

/*==================================================================================================
Global
==================================================================================================*/
/* line 69, ../scss/_custom.scss */
html {
  background-color: white /*#fbfdfe*/ !important;
}

/* line 73, ../scss/_custom.scss */
a, nav ul a {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

/* line 77, ../scss/_custom.scss */
li a {
  -webkit-transition: border 0.2s ease-out;
  -moz-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  border-bottom: 1px solid #91b7c7;
  padding-bottom: 1px;
}

/* line 84, ../scss/_custom.scss */
li a:hover {
  color: #5b8aa0;
  border-bottom: 1px solid #5b8aa0 !important;
}

/* line 134, ../scss/_custom.scss */
ul.inline-list-custom li {
  margin-left: 0 !important;
}

/* line 138, ../scss/_custom.scss */
ul li {
  margin-left: 0.25em;
  padding-bottom: 1em;
}

/* line 167, ../scss/_custom.scss */
div h1, div h2, div h3 {
  font-weight: bold;
}

/* line 171, ../scss/_custom.scss */
div div h2 {
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
}

/* line 181, ../scss/_custom.scss */
div div h3 {
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
}


/*==================================================================================================
Header & Nav
==================================================================================================*/

/* line 236, ../scss/_custom.scss */
header {
  padding-top: 3em;
  padding-bottom: 2em;
}

/* line 245, ../scss/_custom.scss */
div div header h1 {
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.625rem;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
  line-height: 1.1;
  text-align: center;
  color: #333d41;
}

/* line 258, ../scss/_custom.scss */
div div header h1 a {
  text-decoration: none;
  color: #333d41;
}

/* line 263, ../scss/_custom.scss */
div div header h2 {
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8125rem;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
  line-height: 1.4;
  text-align: center;
  color: #3b464b;
  margin-top: 0.75em;
}

/* line 278, ../scss/_custom.scss */
div div header h2 a {
  text-decoration: none;
  color: #3b464b;
}

/* line 283, ../scss/_custom.scss */
div div header h1 a:hover, header h1 a:focus {
  color: #333d41;
}

/* line 287, ../scss/_custom.scss */
div div header h2 a:hover, header h2 a:focus {
  color: #3b464b;
}

/* line 291, ../scss/_custom.scss */
nav {
  border-top: 0px solid #91b7c7;
  border-bottom: 0px solid #91b7c7;
  margin-bottom: 3em;
  background-color: white;
}

/* line 298, ../scss/_custom.scss */
nav ul.inline-list-custom {
  text-align: center;
  padding-top: 0.8em;
  margin-bottom: 0.8em;
  margin-left: 0;
}

/* line 305, ../scss/_custom.scss */
nav ul.inline-list-custom li {
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0;
  text-transform: none;
  display: inline-block;
  padding-left: 1em;
  margin-right: 1em;
  padding-bottom: 0;
}

/* line 320, ../scss/_custom.scss */
nav ul li a, nav ul li a:hover {
  border: none !important;
}

/*==================================================================================================
Project
==================================================================================================*/
/* line 394, ../scss/_custom.scss */
.project-img {
  text-align: center;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}

/* line 399, ../scss/_custom.scss */
.project-img:first-of-type {
  margin-top: 1.75em;
}


/*==================================================================================================
Footer
==================================================================================================*/
/* line 449, ../scss/_custom.scss */
footer {
  border-top: 1px /*solid #91b7c7*/;
  margin-top: 3em;
  padding-top: 4em;
  padding-bottom: 5em;
}

/* line 456, ../scss/_custom.scss */
footer ul {
  text-align: center;
  margin-top: 2em;
  margin-left: 0;
}

/* line 462, ../scss/_custom.scss */
footer li {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0;
  text-transform: none;
  display: inline-block;
  padding-left: 1em;
  margin-right: 1em;
  color: #4a585e;
}

/* line 476, ../scss/_custom.scss */
footer li a {
  color: #4a585e;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

/* line 481, ../scss/_custom.scss */
footer div.social-icons {
  text-align: center;
}

/* line 485, ../scss/_custom.scss */
footer div.social-icons i {
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: #4a585e;
}

/* line 491, ../scss/_custom.scss */
footer div.social-icons a:hover i {
  color: #5b8aa0;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

/* line 496, ../scss/_custom.scss */
footer div.social-icons a i {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

/*==================================================================================================
Media Queries
==================================================================================================*/
@media only screen and (min-width: 40.063em) {
  /* line 508, ../scss/_custom.scss */
  header {
    /*padding-top: 6.25em;
    padding-bottom: 3.95em;*/
    padding-top: 2.0em;
    padding-bottom: 0.0em;
  }

  /* line 513, ../scss/_custom.scss */
  div div header h1 {
    font-size: 2.25rem;
  }

  /* line 517, ../scss/_custom.scss */
  div div header h2 {
    font-size: 0.875rem;
  }

  /* line 521, ../scss/_custom.scss */
  div div h2 {
    font-size: 1.875rem;
  }

  /* line 525, ../scss/_custom.scss */
  div div h3 {
    font-size: 1.125rem;
  }

}
/* line 287, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em;
}

/* line 292, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
  width: 40.063em;
}

/* line 297, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 302, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 307, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 317, ../bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 322, ../bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 325, ../bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #333d41;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: "default";
}

/* line 338, ../bower_components/foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}



@media only screen {
 
}

@media only screen and (min-width: 40.063em) {
  
}
@media only screen and (min-width: 64.063em) {
 
}

@media only screen and (min-width: 40.063em) {
 
}

@-moz-document url-prefix() {

}


/* line 190, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 70.5625rem;
  *zoom: 1;
}
/* line 165, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 166, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row:after {
  clear: both;
}

/* line 206, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.columns {
  position: relative;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
  float: left;
}

@media only screen {
 
  /* line 157, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .columns {
    position: relative;
    padding-left: 1.5em;
    padding-right: 1.5em;
    float: left;
  }

  /* line 161, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-12 {
    position: relative;
    width: 100%;
  }

  /* line 168, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

    /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  
}
@media only screen and (min-width: 40.063em) {
  
  /* line 157, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .columns {
    position: relative;
    padding-left: 1.5em;
    padding-right: 1.5em;
    float: left;
  }

   /* line 161, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-12 {
    position: relative;
    width: 100%;
  }

   /* line 168, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  
}
@media only screen and (min-width: 64.063em) {
  
  /* line 157, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .columns {
    position: relative;
    padding-left: 1.5em;
    padding-right: 1.5em;
    float: left;
  }

  /* line 161, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-12 {
    position: relative;
    width: 100%;
  }

   /* line 168, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

 }
@media only screen and (min-width: 90.063em) {

  /* line 157, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .columns {
    position: relative;
    padding-left: 1.5em;
    padding-right: 1.5em;
    float: left;
  }

  /* line 168, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

 }
@media only screen and (min-width: 120.063em) {
  
  /* line 157, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .columns {
    position: relative;
    padding-left: 1.5em;
    padding-right: 1.5em;
    float: left;
  }

  
  /* line 168, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

}

/* Typography resets */
/* line 145, ../bower_components/foundation/scss/foundation/components/_type.scss */
div,
ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  direction: ltr;
}

/* Default Link Styles */
/* line 152, ../bower_components/foundation/scss/foundation/components/_type.scss */
a {
  color: #333d41;
  text-decoration: none;
  line-height: inherit;
}
/* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
a:hover, a:focus {
  color: #5b8aa0;
}

/* Default paragraph styles */
/* line 164, ../bower_components/foundation/scss/foundation/components/_type.scss */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

/* Default header styles */
/* line 182, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1, h2, h3 {
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #333d41;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

/* line 199, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1 {
  font-size: 2.375rem;
}

/* line 200, ../bower_components/foundation/scss/foundation/components/_type.scss */
h2 {
  font-size: 1.625rem;
}

/* line 201, ../bower_components/foundation/scss/foundation/components/_type.scss */
h3 {
  font-size: 1.5625rem;
}

/* Helpful Typography Defaults */
/* line 218, ../bower_components/foundation/scss/foundation/components/_type.scss */
i {
  font-style: italic;
  line-height: inherit;
}

/* Lists */
/* line 243, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

/* line 251, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul {
  margin-left: 1.1rem;
}
/* line 253, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 257, ../bower_components/foundation/scss/foundation/components/_type.scss */

/* Unordered Lists */
/* line 270, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 279, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 282, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 283, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 284, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 285, ../bower_components/foundation/scss/foundation/components/_type.scss */

/* Ordered Lists */
/* line 289, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 293, ../bower_components/foundation/scss/foundation/components/_type.scss */

/* Definition Lists */
/* line 302, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 306, ../bower_components/foundation/scss/foundation/components/_type.scss */

/* Abbreviations */
/* line 311, ../bower_components/foundation/scss/foundation/components/_type.scss */

/* line 318, ../bower_components/foundation/scss/foundation/components/_type.scss */

/* Blockquotes */
/* line 323, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 328, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 332, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 337, ../bower_components/foundation/scss/foundation/components/_type.scss */

/* line 343, ../bower_components/foundation/scss/foundation/components/_type.scss */

/* Microformats */
/* line 349, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 355, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 359, ../bower_components/foundation/scss/foundation/components/_type.scss */

/* line 366, ../bower_components/foundation/scss/foundation/components/_type.scss */
/* line 368, ../bower_components/foundation/scss/foundation/components/_type.scss */

@media only screen and (min-width: 40.063em) {
  /* line 379, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h1, h2, h3 {
    line-height: 1.4;
  }

  /* line 380, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h1 {
    font-size: 3rem;
  }

  /* line 381, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h2 {
    font-size: 2.25rem;
  }

  /* line 382, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h3 {
    font-size: 1.875rem;
  }

  /* line 383, ../bower_components/foundation/scss/foundation/components/_type.scss */
}
/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
/* line 394, ../bower_components/foundation/scss/foundation/components/_type.scss */

@media print {
  /* line 396, ../bower_components/foundation/scss/foundation/components/_type.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 404, ../bower_components/foundation/scss/foundation/components/_type.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 405, ../bower_components/foundation/scss/foundation/components/_type.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  @page {
    margin: 0.5cm;
}

  /* line 431, ../bower_components/foundation/scss/foundation/components/_type.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 437, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

}
/* line 77, ../bower_components/foundation/scss/foundation/components/_top-bar.scss */
meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}



@media only screen and (min-width: 40.063em) {

}

/* line 278, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
@media only screen and (min-width: 40.063em) {
  /* line 278, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
}

/* line 337, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
@media only screen and (min-width: 40.063em) {

}

/* line 345, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
@media only screen and (min-width: 40.063em) {

}

