/*

  ARTG2260
  Nia Naval
  niamnaval@gmail.com
  Final Project: Open Spaces Boston

  References: 
  - Google Maps JavaScript API: https://developers.google.com/maps/documentation/javascript/tutorial
  - w3 Schools
  - Stack Overflow Questions

  Hosted on https://nianaval.github.io/openspaces/

*/

#map {
    height: 100%;
    width: 80%;
    margin: 0;
    padding: 0;
    float:left;
    overflow: hidden;
    display: inline-block;
  }
  html, body {
    height: 100%;
    margin-left: 0;
    padding: 0;
  }
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  #floating-panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    width: 350px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
  }
  #latlng {
    width: 225px;
  }
  #info-box, #info-box2, #info-box3, #info-box4, #info-box5, #info-box6, #info-box7, #info-box8 {
    /*border: 0px white;*/
    height: auto;
    /*padding: 10px 0px 0px 0px;*/
    font-family: "Univers";
    /*position: absolute;*/
    font-size: 12px;
  }

html, 
body, 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Univers Bold';
	src: url('fonts/UniversLTStd-Bold.otf');
}

@font-face {
	font-family: 'Univers';
	src: url('fonts/UniversLTStd.otf');
}

h1 {
	font-family: "Univers Bold";
	font-size: 24px;
}

.title {
  font-family: "Univers Bold";
  font-size: 24px;
  padding: 10px 0px;
}

h2 {
  font-family: "Univers Bold";
  font-size: 14px;
  /*padding: 10px 0px;*/
}

h3 {
  font-family: "Univers Bold";
  font-size: 12px;
  padding: 5px 0px;
  color: darkturquoise;
}

p {
	font-family: "Univers";
  font-size: 12px;
}

p.filter {
  display: inline;
}

.main-content {
	padding: 20px;
}

.sidebar {
	float:left;
	width: 20%;
  max-height: 100%;
  overflow-y: auto;
	display: inline-block;
	padding: 20px;
}

.site-info {
  margin: 10px 0px;
  padding: 10px;
  padding-bottom: 20px;
  border: 1px solid #b2b2b2;
}

.search {
  margin: 10px 0px;
  padding: 10px;
  padding-bottom: 20px;
  border: 1px solid #b2b2b2;
}

input[type=button] {
    padding: 4px 4px;
    border: 1px solid #bbbbbb;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
}




