body {
  padding: 0; margin: 0; background-color: black;
}
canvas {
  vertical-align: top; float: right;
}
#about {
  position: absolute;
  left: 30px;
  top: 30px;
}
#work {
  position: absolute;
  right: 30px;
  top: 30px;
}
